DeepTald_back_end/.env
DeepTald_back_end/.venv
DeepTald_back_end/.venv/*
DeepTald_back_end/data
DeepTald_back_end/data/*
DeepTald_back_end/logs
DeepTald_back_end/logs/*
DeepTald_back_end/.idea
DeepTald_back_end/.idea/*