.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 20px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.login-reset-botton {
  margin-top: 10px;
}
