<div class="chooice-container container mt-4 d-flex justify-content-center flex-column">
    <div class="row">
        <div class="col-md-6" *ngFor="let mode of modes">
            <mat-card style="min-height: 168px; background-color: #f3f4fb;" (click)="selectMode(mode)" [ngClass]="{'selected-card': selectedMode?.mode === mode.mode}"
                class="mb-3 clickable-card">
                <mat-card-header>
                    <div mat-card-avatar class="mode-icon">
                        <mat-icon>{{ mode.icon }}</mat-icon>
                    </div>
                    <mat-card-title>{{ mode.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ mode.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="justify-content-end d-flex">
        <button [disabled]="selectedMode == null" class="btn btn-primary btn-primary-color" (click)="sendConfirmChoice()">{{ "stepper.buttons.confirm.label" | translate }}</button>
    </div>
</div>